* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Fira Code", sans-serif;
    font-size: .9rem;
}

/* NAV BAR */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    margin-right: auto;
    padding: 8px;
}

.logo img {
    width: 50px;
    height: auto;
}

.nav {
    display: flex;
    list-style-type: none;
    padding: 8px;
    gap: 15px;

}

.nav a {
    margin-right: 8px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

/* HERO */

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-right,
.hero-left {
    flex: 1;
    padding: 20px 48px;
    display: flex;
}

.hero-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0 15px 0;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border-radius: 12px;
    border: none;
    align-self: flex-start;
}

.hero-left {
    justify-content: center;
}

.hero img {
    max-width: 100%;
    flex-basis: 350px;
    border-radius: 40px;
    padding: 10px 0;
    min-width: 232px;
}

/* PHOTOS */
#photos {
    padding: 30px 0;
}

#photos h2 {
    text-align: center;
    padding-bottom: 15px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.photo img {
    border: 2px solid #3882F6;
    border-radius: 20px;
    max-width: 70%;
    margin-bottom: 15px;
}

.photo-text {
  padding: 0 18px;
}

/* TESTIMONIAL */

#testimonials {
    background-color: #E5E7EB;
    padding: 40px 0;
    color: #1F2937;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.testimonial {
    max-width: 70%;
    margin: auto;
    padding: 20px 0 10px 0;
}

.author {
    align-self: flex-end;
    padding-right: 15%;
    font-weight: bold;
    padding-bottom: 20px;
}

/* JOIN NOW */
#join {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #3882F6;
    margin: 50px;
    max-width: 80%;
    border-radius: 20px;
    display: flex;
    color: #F9FAF8;
    padding: 30px;
    flex-wrap: wrap;
}

.inner-modal {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    margin: auto;
    flex: 1;
}

.modal h2 {
    padding-bottom: 8px;
}

.join-now {
    padding: 5px 15px;
    margin: 20px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    white-space: nowrap;
    text-align: center;
    align-self: center;
}

section {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1F2937;
    color: white;
}